body{
    width:1060px;
    margin:50px auto;
    background-color: #d8e5f4;
}
path {  stroke: #A9A9A9; }
path:hover {  opacity:0.8; }

.line {
  fill: none;
  stroke-width: 4
}

.axis {  font: 10px sans-serif; }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#dashboard {
  position: absolute;
  left: 10px;
  right: 60px;
  top: 10px;
  bottom: 60px;
}

.focus text {
  font-weight: bold;
}

.focus circle {
  /*fill: #F1F3F3;*/
  fill: #CCF1F3F3;
  stroke: #6F257F;
  stroke-width: 5px;
}

.hover-line {
  stroke: #6F257F;
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}
