body{
    width:1060px;
    margin:50px auto;
}
path {  stroke: #A9A9A9; }
path:hover {  opacity:0.8; }

.line { fill: none }

.axis {  font: 10px sans-serif; }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#dashboard {
  position: absolute;
  left: 10px;
  right: 60px;
  top: 10px;
  bottom: 60px;
}

.dot.active{
  stroke: red;
  stroke-width: 10px;
}
